  html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
         
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }


            .like {
                color: #07a89c ;
            }
            #countdislike {
                color:#f46e3b  ;
            }

            .edit {
                color: #1594ab ;
            }

            .delete {
                color: #ef4a48 ;
            }


            .button {
            width:100px;
            height:25px;
            top:15px;
            right:15px;
            z-index:2;
            border-radius:5px;
            background:#fff;
  
            box-shadow:none;
            outline:none;
            cursor:pointer;
            }

            .haserror {
            color: #ef4a48;
            }

}



